img {
    max-width:240px;
    height: auto;
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

body {
    width: 99%;
    height: 99%;
    background-image: url("bois.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    margin-bottom: 400px;
}

a {
    text-decoration: none;
    color: rgb(97, 14, 14);
}

.page {
    margin-top: 300px;
    margin-left: 350px;
    height: 38vh;
    width: 1100px;
    display: flex;
    font-size: 20px;
    background-color: rgb(172, 141, 128);
    background-image: linear-gradient(to right, black, yellow, red);
    padding-top: 50px;
    padding-left: 50px;
    border: 3px solid black;
    border-radius: 50px;
    border-color: rgb(27, 27, 27);
    border-style: solid;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    box-shadow: 0px 0px 16px 10px rgba(221, 221, 106, 0.5);
    
}

.left {
    float: left;
    width: 400px;
    height: 200px;
}

.right {
    float: right;
    margin-left: 200px;
    
}

.accroche {
    margin-left: 300px;
    margin-right: 6000px;
    position: absolute;
    top: 340px;
    display: block;
    width: 220px;
    font-size: 18px;
    
    
}

.question {
    float: left;
    padding-left: 50px;
    padding-right: 20px;
    box-shadow: 9px 0px 8px -10px  black;
    position: absolute;
    top: 345px;
    font-weight: bold;
}

.reponse {
    float: right;
    margin-left: 200px;
    position: absolute;
    top: 345px;
}

#ajust {
    padding-top: 25px;
}